<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale:1" />
    <title>js NODE.JS Web me static page with node.js</title>
    <meta name="description" content="My home static page with node.js" />
</head>
<body>
    <main>
        <h1>JS NODE.JS Web me static page with Node.js</h1>
    </main>
</body>
</html>